#prevButton
{
	-fx-background-image: url("../icons/prev.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 70% 70%;
	-fx-background-color: transparent;
}

#nextButton
{
	-fx-background-image: url("../icons/next.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 70% 70%;
	-fx-background-color: transparent;
}

#editButton
{
	-fx-background-image: url("../icons/lock.png");
}

#editButton:selected
{
	-fx-background-image: url("../icons/unlock.png");
}

#editButton,
#editButton:selected
{
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 65% 65%;
	-fx-background-color: transparent;
}

#saveButton
{
	-fx-background-image: url("../icons/save.png");
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
	-fx-background-size: 55% 55%;
	-fx-background-color: transparent;
}